body {
  text-align: center;
  background-color: #3E8E7E;
}

h1 {
  font-size: 5rem;
  color: #FFBD35;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #FFC900;

}

footer {
  color: #181D31;
  font-family: sans-serif;
}

.z {
  background-image: url("images/tom1.png");
}

.x {
  background-image: url("images/crash.png");
}

.c {
  background-image: url("images/tom2.png");
}

.v {
  background-image: url("images/tom3.png");
}

.b {
  background-image: url("images/tom4.png");
}

.n {
  background-image: url("images/snare.png");
}

.m {
  background-image: url("images/kick.png");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.instrument {
  outline: none;
  border: 15px solid #B91646;
  font-size: 5rem;
  font-family: 'Arvo';
  line-height: 2;
  font-weight: 900;
  color: #F8485E;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 20px;
  display: inline-block;
  width: 160px;
  height: 160px;
  text-align: center;
  margin: 10px;
  background-color: #3A6351;
}
